# Local
.DS_Store
*.local
*.pem
*.log*
*.tsbuildinfo
.rspack-profile-*/
.geth

# Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Production
node_modules/
dist/

# Build
.cache/

.env
