name: code

on:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

defaults:
  run:
    shell: bash

env:
  DO_NOT_TRACK: "1"

jobs:
  yarn:
    strategy:
      matrix:
        mode:
          - command: prettier:check

          - command: eslint:check

          - command: tsc:check

          - command: dedupe:check

          - command: test
      fail-fast: false

    name: ${{  matrix.mode.name || matrix.mode.command }}
    runs-on: ubuntu-24.04
    timeout-minutes: 20
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          lfs: true

      - uses: ./.github/actions/setup
        with:
          skip-yarn-install: ${{ matrix.mode.skip-install }}

      - run: yarn ${{ matrix.mode.command }}

  typos:
    name: typos
    runs-on: ubuntu-24.04
    timeout-minutes: 20
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          lfs: true

      - name: typos
        uses: crate-ci/typos@v1.43.4
