name: docker

on:
  push:
    branches:
      - "**"
    tags:
      - "v*.*.*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

defaults:
  run:
    shell: bash

env:
  DO_NOT_TRACK: "1"

jobs:
  build_and_plan:
    name: Build and plan
    runs-on: ubuntu-24.04
    timeout-minutes: 20
    permissions:
      contents: read
      packages: write
    outputs:
      matrix: ${{ steps.generate.outputs.matrix }}
      artifact_id: ${{ steps.artifact-upload-step.outputs.artifact-id }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          lfs: true

      - uses: ./.github/actions/setup

      - name: Generate matrix
        id: generate
        uses: docker/bake-action/subaction/matrix@v6

      - run: yarn build

      - uses: actions/upload-artifact@v7
        id: artifact-upload-step
        with:
          name: docker-build
          path: |
            Dockerfile
            .dockerignore
            docker-bake.hcl
            packages/*/dist
            packages/*/Caddyfile

  docker:
    needs:
      - build_and_plan
    strategy:
      matrix:
        include: ${{ fromJson(needs.build_and_plan.outputs.matrix) }}
      fail-fast: false

    name: |-
      Docker / ${{ matrix.target }}
    runs-on: ubuntu-24.04
    timeout-minutes: 20
    permissions:
      contents: read
      packages: write
    steps:
      - name: Download the build
        uses: actions/download-artifact@v7
        with:
          artifact-ids: ${{ needs.build_and_plan.outputs.artifact_id }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          bake-target: docker-metadata-action-${{ matrix.target }}
          images: |
            ghcr.io/${{ github.repository }}/${{ matrix.target }}
          labels: |
            org.opencontainers.image.title=${{ github.repository }}-${{ matrix.target }}i
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/bake-action@v6
        with:
          targets: ${{ matrix.target }}
          source: .
          allow: ssh
          files: |
            ./docker-bake.hcl
            ${{ steps.meta.outputs.bake-file }}
          push: ${{ github.event_name != 'pull_request' }}
          set: |
            *.cache-from=type=gha
            *.cache-to=type=gha,mode=max
